/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1rem 0;
  font-size: 2.3em;
  line-height: normal;
  color: var(--ifm-color-white) !important;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-family: "Unbounded", sans-serif !important;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSlogan {
   font-size: 3em;
   line-height: normal;
   color: var(--ifm-color-white) !important;
}

.heroBanner strong {
   color: #ebeb34;
}
