.features {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 32px 150px; /* Adds horizontal padding (40px on left and right) */
  width: 100%;
  margin: 0 auto; /* Centers the content horizontally */
  flex-wrap: wrap; /* Allows wrapping of columns on smaller screens */
}

.validator-column {
  text-align: center;
  flex: 1;
  min-width: 250px;
  margin: 10px;
}

.green {
  color: green;
}

.red {
  color: red;
}

/* Responsive design for screens smaller than 768px */
@media (max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: center;
    padding: 32px 20px; /* Adjust padding for smaller screens */
  }

  .validator-column {
    width: 100%;
  }
}

